.graph-node {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background: #ffffff;
    border: 2px solid #4A90E2;
    color: #2C3E50;

    text-align: center;
    line-height: 36px;
    box-sizing: border-box;
    cursor: pointer;
    transform: translate(-50%, -50%);
    user-select: none;

    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); */
    font-family: 'Consolas', monospace;
    font-weight: bold;
    font-size: 15px;
    transition: background 0.2s, border-color 0.2s, color 0.2s;
}

.graph-node:hover {
    background: #cccccc;
}

.graph-node.fixed {
    border: 3px solid #000;
}

#graph-input {
    font-family: Consolas, Courier, monospace;
}





/* 针对图可视化区域的暗黑自定义 */
body.inverted #graph-container {
    background: #252627 !important;
    /* 图容器背景变深灰 */
    border-color: #555 !important;
}

/* 让图的箭头在黑夜模式下变成浅色 */
body.inverted #arrow path {
    fill: #aaa;
}

/* 修正黑夜模式下表单内的文本框边框 */
body.inverted .ui.form textarea {
    background: #2b2c2d !important;
    color: #fff !important;
    border-color: #555 !important;
}