#menuItem {
    min-width: 100px;
}

body {
    padding-top: 70px;
}

body {
    padding-top: 70px;
    background-color: #ffffff;
    transition: background-color 0.05s ease;
    /* 让背景色切换更丝滑 */
}

body.inverted {
    background-color: #111 !important;
}

#copy-content {
    cursor: pointer;
    font-family: Consolas;
    user-select: none;
}